{% extends "base.html" %}
{% block title %} my indexpage{% endblock %}
{% block header %}
    Welcome to safari mid-morning class
{% endblock %}
{% block content %}
    <h5 class=>Contact us  </h5>
    <p>we value cstomer feed back and for this particular reason we have a customer care service team dedicated to serve you.In any event where you have a complaint, comment or suggestion feel free to contact us Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor hic obcaecati officia quibusdam voluptate. Ab assumenda consectetur dolor eos harum incidunt officiis quas quasi rem similique temporibus totam, vitae. </p>
{% endblock %}